:root {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 21px;
}

.badge {
  padding: 6px 10px;
}

.pill {
  border-radius: 500px;
}

.rounded-rectangle {
  border-radius: 4px;
}

.warning {
  background: #f9ecc9;
  color: #62321f;
}

.alarm {
  background: #fee0e0;
  color: #6e2425;
}

.good {
  background: #d5ede9;
  color: #138771;
}

.info {
  background: #e8e8e8;
  color: #45575b;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.fontSize1 {
  font-size: var(--font-size-1);
}

.fontSize2 {
  font-size: var(--font-size-2);
}

.fontSize3 {
  font-size: var(--font-size-3);
}

.fontSize4 {
  font-size: var(--font-size-4);
}

.fontSize5 {
  font-size: var(--font-size-5);
}
