.SegmentedControl {
  composes: borderBox from "./Layout.css";
  composes: flex from "./Layout.css";
  composes: justifyBetween from "./Layout.css";
  padding: 2px;
  user-select: none;
}

.md {
  composes: medium from "./Layout.css";
}

.lg {
  composes: large from "./Layout.css";
}

.item {
  composes: flexGrow from "./Layout.css";
  composes: m0 from "./Whitespace.css";
  composes: pointer from "./Cursor.css";
  flex-basis: 0;
  flex-shrink: 1;
  padding: 4px 14px;
}

.item:focus {
  position: relative;
}

.itemIsNotSelected {
  border: 1px solid #ECECEC;
}

.itemIsSelected { 
  background-color: #00BF99;
  border: 1px solid #00BF99;
}
